# Ignore compiled python files.
*.pyc
__pycache__/
*.cache

# Ignore virtual environment directories.
venv/

# Ignore log files.
logs/

# Ignore sensitive configuration files.
config.ini
.env

# Ignore system and IDE files.
.idea
.vscode/
